<div class="container">

  <!-- Sign Up -->
  <form [formGroup]="registerForm">

      <div class="content-area">
          <h2>Sign Up</h2>
          <div class="grid">
              <label for="floatingInput">First Name</label>
              <input formControlName="firstName" type="text" id="email" placeholder="first name">
              <label for="floatingPassword">Last Name</label>
              <input formControlName="lastName" type="text" id="password" placeholder="last name">
              <label for="floatingInput">Phone Number</label>
              <input formControlName="phoneNumber" type="text" id="" placeholder="phone number">
              <label for="floatingPassword">E-mail</label>
              <input formControlName="email" type="email" id="password" placeholder="e-mail">
              <label for="floatingInput">Password</label>
              <input formControlName="password" type="password" id="" placeholder="password">
              <label for="floatingInput">Address</label>
              <input formControlName="address" type="text" id="" placeholder="address">
              <label for="floatingInput">Photo (URL not necessary)</label>
              <input formControlName="photo" type="text" id="email" placeholder="photo">
          </div>
      </div>

      <div class="btn-area">
          <button (click)="register()">Sign Up</button>
      </div>
  </form>

</div>