@import "../../app.component.scss";

.container {
    @extend %flex;
    background: $beige;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

form {
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border: 2px solid $java;
    border-radius: 0.5rem;
    width: 40%;
    height: max-content;
    padding: 1rem;

    .content-area {
        width: 100%;

        h2 {
            @extend %header;
            font-size: 1.5rem;
            padding: 0 0 0.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: auto 15rem;
        align-items: end;
        gap: 1.5rem 1rem;

        label {
            color: $brown;
            font-size: 1rem;
        }

        input {
            outline: none;
            background: transparent;
            padding-bottom: 0.25rem;
            border-style: none none solid none;
            border-width: 2px;
            color: $java;
            border-color: $java;
            caret-color: $java;
        }
    }

    .btn-area {
        width: 100%;

        button {
            float: right;
            background: darken($beige, 5%);
            border-radius: 0.5rem;
            border: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            transition: 0.5s all;
            color: $java;

            &:hover {
                background: darken($beige, 10%);
                color: $brown;
            }
        }
    }
}