@import "../../app.component.scss";

section{
    .slide{
        background-color: $java;
        padding: 10%;
    }
    .home{
        margin:3% 15% 0%;
        .second-part{
            margin-top: 4rem;
            display: flex;
            justify-content: space-evenly;
            gap:2rem;
            h1{
                font-size: 2rem; 
                line-height: 2rem;
                margin:0 0 2rem;
                border-bottom: 2px solid;
            }
            p{
                font-size: 1.1rem; 
                line-height: 1.1rem;
            }
        }
        
    }
}