<div class="container">

  <!-- Update Info -->
  <div class="card-area">

    <div class="content-area">
      <h2>Update Info</h2>
      <div class="grid">
        <label for="floatingInput">Age</label>
        <input [(ngModel)]="data.age" type="number" id="Age" placeholder="25">

        <label for="floatingPassword">Height(m)</label>
        <input [(ngModel)]="data.height" type="number" id="Height" placeholder="1,84">

        <label>Gender</label>
        <select [(ngModel)]="data.gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>

    <div class="btn-area">
      <button (click)="update()">Update</button>
    </div>
  </div>

  <!-- Update Dieatian -->
  <div class="card-area">

    <div class="content-area">
      <h2>Update Dieatian</h2>
      <div class="grid">
        <label>Dieatian</label>
        <select [(ngModel)]="selectedDietian.dietianId">
          <option value="{{dietian.dietianId}}" *ngFor="let dietian of dietians">{{dietian.dietianName}}
          </option>
        </select>
      </div>
    </div>

    <div class="btn-area">
      <button (click)="updateDieatian()">Update</button>
    </div>

  </div>

</div>