@import "./app/app.component.scss";

html,
body {
    height: 100%;
    margin: 0;
    background: $beige;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    background: transparent;
}

// Scrollbar
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $java;

    &:hover {
        background: $brown;
    }
}